@import '../../shared/styles';

.autenticacao {
    padding: 20px 15px;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(#FC66A4, 0.8), rgba(#993CFF, 0.8)), url('./../../assets/images/palhaco.png'), #993CFF;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    // flex-flow: column;
    position: relative;
    

    @include phone-small-layout {
        padding: 5px 15px;
    }


    @include tablet-layout {
        padding: 0px 200px;
        padding-bottom: 50%;
        padding-top: 100px
    }

    @include pc-layout {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        margin: 0;
        padding: 0;
    }
}