@import '../../../shared/styles/index.scss';

.customSelect {
    @include custom-input;

    select {
        color: $primary;
        font-family: inherit;

        @include phone-layout {
            font-size: 12px;
        }
    }
}