@import '../../styles/index.scss';

.header {
    display: none;

    @include pc-layout {
        position: fixed;
        top: 0;
        left: 0;

        z-index: 1;

        display: block;
        width: 100vw;
        height: 50px;
        background-color: white;
        box-shadow: 0px 2px 4px $shadow-light;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 10px;

        i {
            position: absolute;
            font-size: 25px;
            color: $dark-gray;
            cursor: pointer;

            &:hover {
                color: black;
            }
        }
    }
}