@mixin phone-small-layout {
  @media only screen and (orientation: portrait) and (max-width: 360px) {
    @content;
  }
}

@mixin phone-layout {
  @media only screen and (orientation: portrait) and (max-width: 449px) {
    @content;
  }
}

@mixin tablet-layout {
  @media only screen and (orientation: portrait) and (min-width: 450px) and (max-width: 1024px) {
    @content;
  }
}

@mixin pc-small-layout {
  @media only screen and (orientation: landscape) and (max-width: 1366px) {
    @content;
  }
}

@mixin pc-layout {
  @media only screen and (orientation: landscape) and (min-width: 700px) {
    @content;
  }
}

@mixin button-link {
  color: $primary;
  background: transparent;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  border: none;
  cursor: pointer;

  &:hover {
    background: transparent;
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }
}

@mixin custom-button($text-color, $bg-color, $border: none, $gradient: none) {
  color: $text-color;
  background: $bg-color;
  border: none;
  border-radius: 5px;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  transition: background-color 0.2s ease;
  cursor: pointer;

  @if $border != none {
    border: 1px solid $border;
  }

  @if $gradient == none {
    &:hover {
      background: darken($bg-color, 8);
    }
  }

  &:focus {
    outline: none;
  }
}

@mixin custom-input {
  text-align: left;
  height: auto;
  margin: 20px 0;
  display: flex;
  flex-flow: column;
  span {
    color: $dark-gray;
    margin-bottom: 10px;
    font-weight: normal;
  }

  input,
  select {
    width: 100%;
    border-radius: 5px;
    padding: 12px;
    border: 1px solid $gray;
    background-color: transparent;

    &:focus {
      outline-color: $light-pink;
    }
  }

  &.invalid {
    span {
      color: $red;
    }
    input,
    select {
      border-color: $red;
    }
  }

  @include phone-small-layout {
    margin: 10px 0;
  }

  @include pc-layout {

    span {
      font-size: 18px;
    }

    input, select {
      padding: 18px;
      font-size: 15px;

      &:focus {
        outline-color: $primary;
      }
    }
  }
}

@mixin telas-login-mobile {
  display: flex;
  flex-flow: column;
  height: 100%;

  div.content {
    margin: 15px 0;
    padding: 22px 36px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 4px $shadow-light;

    form {
      flex: 1;

      button {
        @include custom-button(
          white,
          linear-gradient(92.05deg, #f180c1 4.55%, #a450c9 95.79%),
          none,
          initial
        );
        font-size: 18px;
        padding: 15px 0;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $gray;
      }
    }

    div.criarConta,
    div.entrar {
      color: $dark-gray;

      // p:first-child {
      //   margin: 1.5rem 0;
      // }

      .underline {
        color: $primary;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @include phone-small-layout() {
    h1 {
      margin: 10px 0;
    }

    div.content {
      padding: 15px;
      margin: 5px 0;

    }
  }
}

@mixin telas-login-pc {
  margin-left: calc(100vh / 1.5);
  background-color: $light-gray;
  color: $dark-gray;
  flex: 1;
  height: 100vh;
  text-align: left;
  padding: 5% 75px;

  div.content {
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 520px;
    text-align: left;
    background-color: transparent;
    box-shadow: none;
    padding: 0;

    div.criarConta, div.entrar {
      text-align: center;
      font-size: 18px;
    }

    form button:last-child {
      margin: 20px 0;
    }

    form button {
      padding: 18px 0;
      font-size: 18px;
    }
  }

  @include pc-small-layout {
      padding: 20px 50px;

      div.content {
        margin: 0;
      }
  }
}
